/SimuladorSensores/target/
/PruebaSensores/target/
/Gateway/target/
/Modelo/target/
/FrontInvernaderoAmigochas/nbproject/private/
/Entidades/target/
/Anomalyzer/target/
/DTOs/target/
**/paho*/
/FrontInvernaderoAmigochas/node_modules/
Anomalyzer/.idea/workspace.xml
Anomalyzer/.idea/workspace.xml
